name: cd
 
on:
  schedule:
    - cron: '0 0 * * Tue'
 push:
   branches: 'master'
 
jobs:
 main:
   runs-on: ubuntu-20.04
   steps:
     - name: Setup Docker Buildx
       uses: docker/setup-buildx-action@v1
     - name: Set up QEMU
       uses: docker/setup-qemu-action@v1
     - name: Login to DockerHub
       uses: docker/login-action@v1
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
     - name: Build and push
       id: docker_build
       uses: docker/build-push-action@v2
       with:
         push: true
         platforms: linux/amd64,linux/arm64
         tags: jenkins/core-pr-tester:latest
